.App {
  text-align: center;
  display: flex;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content{
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'Siegel';
  src: url('assets\fontes\Spiegel-TTF\Spiegel_TT_Regular.ttf') format('truetype'),
  url('assets\fontes\Spiegel-TTF\Spiegel_TT_Regular_Italic') format('truetype');
}

@font-face {
  font-family: 'BeaufortforLOL' ;
  src: url('assets\fontes\BeaufortForLoL-TTF\BeaufortforLOL-Heavy.ttf') format('trutetype'), 
  url('assets\fontes\BeaufortForLoL-TTF\BeaufortforLOL-Regular.ttf') format('truetype');
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}

.App-link {
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  font-family: 'Siegel';
  background-color: black;
}


::-webkit-scrollbar{
  width: 10 px;
}

::-webkit-scrollbar-track{
  background: #2c2c2c;
}
::-webkit-scrollbar-thumb {
  background: #363636;
}
::-webkit-scrollbar-track:hover{
  background: #0b0b0b;
}