@font-face {
  font-family: 'Spiegel';
  src: local('Spiegel'), url(assets\fontes\Spiegel-TTF\Spiegel_TT_Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Spiegel'

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
