@font-face {
  font-family: 'Spiegel';
  src: local('Spiegel'), url(assets\fontes\Spiegel-TTF\Spiegel_TT_Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: Spiegel'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar{
  width: 5 px;
}

::-webkit-scrollbar-track{
  background: #2c2c2c;
}
::-webkit-scrollbar-thumb {
  background: #363636;
}
::-webkit-scrollbar-track:hover{
  background: #0b0b0b;
}